[submodule "third_party/openssl"]
	path = third_party/openssl
	url = ../openssl.git
[submodule "third_party/boost"]
	path = third_party/boost
	url = ../boost.git
[submodule "third_party/gflags"]
	path = third_party/gflags
	url = ../gflags.git
[submodule "third_party/gtest"]
	path = third_party/gtest
	url = ../googletest.git
[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = ../protobuf.git
[submodule "third_party/glog"]
	path = third_party/glog
	url = ../glog.git
[submodule "third_party/libunwind"]
	path = third_party/libunwind
	url = ../libunwind
[submodule "third_party/libtorrent"]
	path = third_party/libtorrent
	url = ../libtorrent
[submodule "third_party/jemalloc"]
	path = third_party/jemalloc
	url = ../jemalloc
[submodule "third_party/grpc"]
	path = third_party/grpc
	url = ../grpc
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = ../zlib
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = ../benchmark
[submodule "third_party/capstone"]
	path = third_party/capstone
	url = ../capstone
[submodule "third_party/re2"]
	path = third_party/re2
	url = ../re2
